{{#modal-dialog action="close"}}
  <form class="form-inline" id="new_argument_form">
	  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3>New Argument</h3>
		</div>
		<div style="padding:25px">
		  {{input type="text" value=topicName placeholder="Topic" data-autocomplete="/api/v1/argument_topics/autocomplete"}}
		  {{input type="text" value=value placeholder="Value" class="moveToBottom4px"}}
		</div>
		<div class="modal-footer">
	    <button class="save_argument_button" {{action 'create'}}>Submit</button>
		</div>
  </form>
{{/modal-dialog}}